<a href="https://colab.research.google.com/github/evildead23151/UIDAI-Hackathon-Analysis/blob/main/01_data_loading_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

np.random.seed(42)

In [1]:
!pip install gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.12/dist-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from gdown) (4.13.5)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from gdown) (3.20.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.12/dist-packages (from gdown) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (2.8.1)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (2026.1.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.12/dist-packages (from requests[socks]->gdown) (1.7.1)

In [5]:
import gdown

gdown.download_folder(
    "https://drive.google.com/drive/folders/10hqeVBtmR3teNzGlbjV6FKypJf7dG88_",
    output="uidai_data",
    quiet=False
)

Retrieving folder contents

Processing file 1FE7TMpeZg7FiZHGeTCos0Hr6bzXzknZl api_data_aadhar_biometric_0_500000.csv
Processing file 13Ifz-zxvv9GqKeAUUnVHIVME0yvczK59 api_data_aadhar_biometric_500000_1000000.csv
Processing file 1WoT1y6pIjmzVoTyzxdJc8UOasUQcYYPv api_data_aadhar_biometric_1000000_1500000.csv
Processing file 1nSGjb6XAcQ66byVyWhfZD__cuaziu1VE api_data_aadhar_biometric_1500000_1861108.csv
Processing file 1cpBAbnt38FXtlyhC6R8icOb_qmmYCMIl api_data_aadhar_demographic_0_500000.csv
Processing file 1khk09LrzBSFNV5-DBR_R1TdNXA4Tnjkm api_data_aadhar_demographic_500000_1000000.csv
Processing file 1z9gpl0ednLCiQ5eSXmD1W0F-oucK9hf7 api_data_aadhar_demographic_1000000_1500000.csv
Processing file 1aq8vV8BfVHGIt0MsE90WX5UE-wXYLc1A api_data_aadhar_demographic_1500000_2000000.csv
Processing file 1f_rnwlSEfgeHVT5UHa4ChrQinjJCYWC5 api_data_aadhar_demographic_2000000_2071700.csv
Processing file 1D2CLXy-Ud9GOksC2vBp1I2zhyqNucixx api_data_aadhar_enrolment_0_500000.csv
Processing file 1w34OxxNKFCgQeniSecgspLE_DlM20Vya api_data_aadhar_enrolment_500000_1000000.csv
Processing file 1MEP9b84uAxQYd073y5NfxhUqxbs6ANeM api_data_aadhar_enrolment_1000000_1006029.csv

Retrieving folder contents completed
Building directory structure
Building directory structure completed
Downloading...
From: https://drive.google.com/uc?id=1FE7TMpeZg7FiZHGeTCos0Hr6bzXzknZl
To: /content/uidai_data/api_data_aadhar_biometric_0_500000.csv
100%|██████████| 22.3M/22.3M [00:00<00:00, 51.0MB/s]
Downloading...
From: https://drive.google.com/uc?id=13Ifz-zxvv9GqKeAUUnVHIVME0yvczK59
To: /content/uidai_data/api_data_aadhar_biometric_500000_1000000.csv
100%|██████████| 22.1M/22.1M [00:00<00:00, 50.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1WoT1y6pIjmzVoTyzxdJc8UOasUQcYYPv
To: /content/uidai_data/api_data_aadhar_biometric_1000000_1500000.csv
100%|██████████| 22.1M/22.1M [00:00<00:00, 47.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1nSGjb6XAcQ66byVyWhfZD__cuaziu1VE
To: /content/uidai_data/api_data_aadhar_biometric_1500000_1861108.csv
100%|██████████| 15.9M/15.9M [00:00<00:00, 30.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=1cpBAbnt38FXtlyhC6R8icOb_qmmYCMIl
To: /content/uidai_data/api_data_aadhar_demographic_0_500000.csv
100%|██████████| 22.1M/22.1M [00:00<00:00, 33.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1khk09LrzBSFNV5-DBR_R1TdNXA4Tnjkm
To: /content/uidai_data/api_data_aadhar_demographic_500000_1000000.csv
100%|██████████| 22.1M/22.1M [00:00<00:00, 48.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1z9gpl0ednLCiQ5eSXmD1W0F-oucK9hf7
To: /content/uidai_data/api_data_aadhar_demographic_1000000_1500000.csv
100%|██████████| 22.1M/22.1M [00:00<00:00, 47.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1aq8vV8BfVHGIt0MsE90WX5UE-wXYLc1A
To: /content/uidai_data/api_data_aadhar_demographic_1500000_2000000.csv
100%|██████████| 22.1M/22.1M [00:00<00:00, 51.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1f_rnwlSEfgeHVT5UHa4ChrQinjJCYWC5
To: /content/uidai_data/api_data_aadhar_demographic_2000000_2071700.csv
100%|██████████| 3.18M/3.18M [00:00<00:00, 17.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1D2CLXy-Ud9GOksC2vBp1I2zhyqNucixx
To: /content/uidai_data/api_data_aadhar_enrolment_0_500000.csv
100%|██████████| 22.8M/22.8M [00:00<00:00, 50.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1w34OxxNKFCgQeniSecgspLE_DlM20Vya
To: /content/uidai_data/api_data_aadhar_enrolment_500000_1000000.csv
100%|██████████| 22.8M/22.8M [00:00<00:00, 47.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1MEP9b84uAxQYd073y5NfxhUqxbs6ANeM
To: /content/uidai_data/api_data_aadhar_enrolment_1000000_1006029.csv
100%|██████████| 276k/276k [00:00<00:00, 83.1MB/s]
Download completed

['uidai_data/api_data_aadhar_biometric_0_500000.csv',
 'uidai_data/api_data_aadhar_biometric_500000_1000000.csv',
 'uidai_data/api_data_aadhar_biometric_1000000_1500000.csv',
 'uidai_data/api_data_aadhar_biometric_1500000_1861108.csv',
 'uidai_data/api_data_aadhar_demographic_0_500000.csv',
 'uidai_data/api_data_aadhar_demographic_500000_1000000.csv',
 'uidai_data/api_data_aadhar_demographic_1000000_1500000.csv',
 'uidai_data/api_data_aadhar_demographic_1500000_2000000.csv',
 'uidai_data/api_data_aadhar_demographic_2000000_2071700.csv',
 'uidai_data/api_data_aadhar_enrolment_0_500000.csv',
 'uidai_data/api_data_aadhar_enrolment_500000_1000000.csv',
 'uidai_data/api_data_aadhar_enrolment_1000000_1006029.csv']

In [6]:
import os
os.listdir("uidai_data")

['api_data_aadhar_demographic_1500000_2000000.csv',
 'api_data_aadhar_demographic_0_500000.csv',
 'api_data_aadhar_biometric_1000000_1500000.csv',
 'api_data_aadhar_enrolment_0_500000.csv',
 'api_data_aadhar_demographic_1000000_1500000.csv',
 'api_data_aadhar_demographic_500000_1000000.csv',
 'api_data_aadhar_demographic_2000000_2071700.csv',
 'api_data_aadhar_biometric_0_500000.csv',
 'api_data_aadhar_biometric_500000_1000000.csv',
 'api_data_aadhar_biometric_1500000_1861108.csv',
 'api_data_aadhar_enrolment_1000000_1006029.csv',
 'api_data_aadhar_enrolment_500000_1000000.csv']

In [8]:
import os
os.listdir("uidai_data")

['api_data_aadhar_demographic_1500000_2000000.csv',
 'api_data_aadhar_demographic_0_500000.csv',
 'api_data_aadhar_biometric_1000000_1500000.csv',
 'api_data_aadhar_enrolment_0_500000.csv',
 'api_data_aadhar_demographic_1000000_1500000.csv',
 'api_data_aadhar_demographic_500000_1000000.csv',
 'api_data_aadhar_demographic_2000000_2071700.csv',
 'api_data_aadhar_biometric_0_500000.csv',
 'api_data_aadhar_biometric_500000_1000000.csv',
 'api_data_aadhar_biometric_1500000_1861108.csv',
 'api_data_aadhar_enrolment_1000000_1006029.csv',
 'api_data_aadhar_enrolment_500000_1000000.csv']

In [9]:
import pandas as pd
import numpy as np
import glob

In [10]:
enrol_files = sorted(glob.glob("uidai_data/api_data_aadhar_enrolment_*.csv"))
enrol_df = pd.concat([pd.read_csv(f) for f in enrol_files], ignore_index=True)

enrol_df.shape

(1006029, 7)

In [11]:
demo_files = sorted(glob.glob("uidai_data/api_data_aadhar_demographic_*.csv"))
demo_df = pd.concat([pd.read_csv(f) for f in demo_files], ignore_index=True)

demo_df.shape

(2071700, 6)

In [12]:
bio_files = sorted(glob.glob("uidai_data/api_data_aadhar_biometric_*.csv"))
bio_df = pd.concat([pd.read_csv(f) for f in bio_files], ignore_index=True)

bio_df.shape

(1861108, 6)

In [13]:
len(enrol_files) == 3, len(demo_files) == 5, len(bio_files) == 4

(True, True, True)

In [15]:
def schema_report(df):
    return pd.DataFrame({
        "dtype": df.dtypes,
        "missing_count": df.isna().sum(),
        "missing_pct": (df.isna().mean() * 100).round(2)
    })

In [16]:
schema_report(enrol_df)

                 dtype  missing_count  missing_pct
date            object              0          0.0
state           object              0          0.0
district        object              0          0.0
pincode          int64              0          0.0
age_0_5          int64              0          0.0
age_5_17         int64              0          0.0
age_18_greater   int64              0          0.0

In [17]:
schema_report(demo_df)

                dtype  missing_count  missing_pct
date           object              0          0.0
state          object              0          0.0
district       object              0          0.0
pincode         int64              0          0.0
demo_age_5_17   int64              0          0.0
demo_age_17_    int64              0          0.0

In [18]:
schema_report(bio_df)

               dtype  missing_count  missing_pct
date          object              0          0.0
state         object              0          0.0
district      object              0          0.0
pincode        int64              0          0.0
bio_age_5_17   int64              0          0.0
bio_age_17_    int64              0          0.0

In [19]:
def parse_dates(df):
    cols = [c for c in df.columns if "date" in c.lower() or "time" in c.lower()]
    for c in cols:
        df[c] = pd.to_datetime(df[c], errors="coerce")
    return df, cols

In [20]:
enrol_df, enrol_date_cols = parse_dates(enrol_df)
demo_df, demo_date_cols = parse_dates(demo_df)
bio_df, bio_date_cols = parse_dates(bio_df)

enrol_date_cols, demo_date_cols, bio_date_cols

(['date'], ['date'], ['date'])

# Geographic Standardization

We normalize geography without inventing categories.

Rules applied:

State / district → uppercase trimmed strings

PIN → numeric coercion only

In [21]:
def standardize_geography(df):
    for c in df.columns:
        if "state" in c.lower() or "district" in c.lower():
            df[c] = df[c].astype(str).str.strip().str.upper().replace("NAN", np.nan)
        if "pin" in c.lower():
            df[c] = pd.to_numeric(df[c], errors="coerce")
    return df

In [22]:
enrol_df = standardize_geography(enrol_df)
demo_df = standardize_geography(demo_df)
bio_df = standardize_geography(bio_df)

# PIN Code Integrity Check

In [23]:
def pin_length_report(df):
    pins = [c for c in df.columns if "pin" in c.lower()]
    return {
        c: round((df[c].dropna().astype(str).str.len() != 6).mean() * 100, 2)
        for c in pins
    }

In [26]:
pin_length_report(enrol_df)

{'pincode': np.float64(0.0)}

In [27]:
pin_length_report(demo_df)

{'pincode': np.float64(0.0)}

In [28]:
pin_length_report(bio_df)

{'pincode': np.float64(0.0)}

# Numeric Column Coercion

We convert volume/count fields explicitly.

In [29]:
def clean_numeric(df):
    for c in df.columns:
        if any(k in c.lower() for k in ["count", "number", "total"]):
            df[c] = pd.to_numeric(df[c], errors="coerce")
    return df

In [30]:
enrol_df = clean_numeric(enrol_df)
demo_df = clean_numeric(demo_df)
bio_df = clean_numeric(bio_df)

In [31]:
def missing_summary(df):
    return (
        df.isna()
        .sum()
        .to_frame("missing_count")
        .assign(missing_pct=lambda x: (x["missing_count"] / len(df) * 100).round(2))
        .sort_values("missing_pct", ascending=False)
    )

# Cell — Generate Summaries

In [32]:
enrol_missing = missing_summary(enrol_df)
demo_missing = missing_summary(demo_df)
bio_missing = missing_summary(bio_df)

enrol_missing.head(10)

                missing_count  missing_pct
date                   682238        67.81
state                       0         0.00
district                    0         0.00
pincode                     0         0.00
age_0_5                     0         0.00
age_5_17                    0         0.00
age_18_greater              0         0.00

In [33]:
demo_missing.head(10)

               missing_count  missing_pct
date                 1187968        57.34
state                      0         0.00
district                   0         0.00
pincode                    0         0.00
demo_age_5_17              0         0.00
demo_age_17_               0         0.00

In [34]:
bio_missing.head(10)

              missing_count  missing_pct
date                 944100        50.73
state                     0         0.00
district                  0         0.00
pincode                   0         0.00
bio_age_5_17              0         0.00
bio_age_17_               0         0.00

# Save Cleaned Outputs (Single Source of Truth)

In [35]:
import os

os.makedirs("cleaned_outputs", exist_ok=True)

enrol_df.to_csv("cleaned_outputs/clean_enrolment.csv", index=False)
demo_df.to_csv("cleaned_outputs/clean_demographic_updates.csv", index=False)
bio_df.to_csv("cleaned_outputs/clean_biometric_updates.csv", index=False)

enrol_missing.to_csv("cleaned_outputs/enrolment_missingness_summary.csv")
demo_missing.to_csv("cleaned_outputs/demographic_missingness_summary.csv")
bio_missing.to_csv("cleaned_outputs/biometric_missingness_summary.csv")